body {
    background-color: rgb(73, 73, 73);
}

.divMain {
    margin: 0 auto;
}

.divMain p {
    margin: auto;
    margin-bottom: 15px;
}

.inputs {
    flex-direction: column;
    justify-content: center;
}

.imputStyle {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
}